@inherits FieldInputBase<string>

<div class="mb-3">
    @if (!string.IsNullOrWhiteSpace(Label))
    {
        <label class="form-label" for="@Id">@Label: </label>
    }
    <InputTextArea id=@Id @bind-Value="@CurrentValue" class="form-control" />
    <ValidationMessage For="@Validation" />
</div>